doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/kendo.common-material.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery.min.js")
    script(type="text/javascript" src="/javascripts/angular.min.js")
    script(type="text/javascript" src="/javascripts/kendo.all.min.js")
    script(type="text/javascript" src="/javascripts/scripts.js")
  body
    block content
